.tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
    background:gray;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    background:gray;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #345F90;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tab-slider--trigger.active {
    color: orange;
    border-bottom: 6px solid orange;
    padding-bottom: 6px;
  }

  .tab-containers {
    border: 1px solid black;
    margin-top: 11px;
    padding:5px;
  }

  .error {
    color: red;
  }